body {
    font-family: Arial, sans-serif;
    background-color: #3e4449;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: #822828;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(5, 5, 5, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #c6f300;
}

#options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    font-size: 16px;
}

#options button:hover {
    background-color: #d0d0d0;
}

#options button.correct {
    background-color: #4CAF50;
    color: white;
}

#options button.wrong {
    background-color: #f44336;
    color: white;
}

#nextBtn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#nextBtn:hover {
    background-color: #0056b3;
}
