body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    width: 550px;
    margin: 90px auto;
    background: rgb(165, 165, 165);
    padding: 20px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    background: #076bd6;
}

.error {
    color: red;
    font-size: 12px;
}
